html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  overflow: hidden;
  text-align: center;
}
td {
  display: inline-block;
  width: 100px;
}

/* every ODD td will have a gray background */
td:nth-child(odd) {
  background-color: #f9f9f9;
}

/* every EVEN td will have a white background */
td:nth-child(even) {
  background-color: white;
}

pre { overflow-x: auto; }
